.geotoolkit.welllog.header.LogVisualHeader,
.geotoolkit.welllog.LogMarker,
geotoolkit.controls.tools.CrossHair
{
    textstyle-font : bold 11px Arial;
}

.geotoolkit.welllog.LogMarker {
    textstyle-color : #FFFFFF;
}

.geotoolkit.welllog.LogAxis {
    tickgenerator-major-tickstyle-width: 1;
    tickgenerator-major-tickstyle-pixelsnapmode-x: true;
    tickgenerator-major-tickstyle-pixelsnapmode-y: true;
    tickgenerator-edge-labelstyle-font:  bold 11px Arial;
    tickgenerator-major-labelstyle-font: bold 11px Arial;
}

.geotoolkit.welllog.LogHorizontalGrid,
.geotoolkit.welllog.LogLinearValueGrid,
.geotoolkit.welllog.LogLog10ValueGrid {
    tickgenerator-major-tickstyle-pixelsnapmode-x: true;
    tickgenerator-major-tickstyle-pixelsnapmode-y: true;
    tickgenerator-minor-tickstyle-pixelsnapmode-x: true;
    tickgenerator-minor-tickstyle-pixelsnapmode-y: true;
    linestyle-pixelsnapmode-x: true;
    linestyle-pixelsnapmode-y: true;
}

.geotoolkit.welllog.LogTrack {
   borderstrategy: top;
   linestyle-color: transparent
}

*[cssclass="ExplorationMapWell"],
*[cssclass="ExplorationMapField"]
{
    linestyle-width: 2;
    linestyle-color: #6e3dd9ff;
}

*[cssclass="ExplorationMapField"] {
    fillstyle-color: #6e3dd920;
}
