body {
  margin: 0;
  padding: 0;
  background: var(--background-color);
  transition:
          color .5s,
          border .5s,
          background-color .5s;

  div {
    box-sizing: border-box;
  }
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  header {
    height: 5vh;
    min-height: 42px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--text-color);

    h2 {
      margin: 16px 16px 0 16px;
    }
  }

  .charts-container {
    height: 95vh;
    min-height: 800px;

    padding: 8px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);

    .horizontal-log {
      grid-column-start: 2;
      grid-column-end: 4;
    }

    .vertical-log {
      grid-row-start: 1;
      grid-row-end: 5;
    }

    .horizontal-log,
    .vertical-log,
    .wells-map,
    .wells-model {
      margin: 8px;
      overflow: hidden;
      border-radius: 4px;
      border: 1px solid rgba(155, 155, 155, 0.5);

      color: var(--title-color);
      background: var(--card-color);

      @media (max-width: 800px) {
        grid-row-start: auto;
        grid-row-end: auto;
        grid-column-start: 1;
        grid-column-end: 4;
      }
    }

    @media (max-width: 800px) {
      grid-template-rows: repeat(4, 1fr);
    }

  }

  @media (max-width: 800px) {
    .theme-switcher,
    .charts-container {
      height: unset;
    }
  }
}